/* font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


/* icon */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 20;
  transition: 0.3s;
}


/* common */
body {
    background-color: #ddd1f8;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

    height: 3000px;
}

.inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}


/* header */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

header:hover {
    background-color: #fff;
}

header>.inner {
    height: 72px; 
}

/* logo */
header .inner a.header__logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 36px;
}

header .inner a.header__logo img {
    display: block;
}

/* header_menu */
header .inner .header__menu {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 72px;
    left: 150px;
}

header .inner .header__menu .item {
    margin: 0 8px;
    padding: 30px 0;
    color: #4A5056;
}

header .inner .header__menu .item:hover .item__name {
    background-color: #f1f3f5;
    cursor: pointer;
}


/* item__contents */
header .inner .header__menu .item:hover .item__contents {
    display: block;
    background-color: #fff;
}

header .inner .header__menu .item .item__name {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 6px;
}

header .inner .header__menu .item:hover .more {
    transform: rotate(180deg);
}

header .inner .header__menu .item .item__contents {
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    top: 72px;
}

header .inner .header__menu .item .item__contents .inner {
    display: flex;
    justify-content: space-between;
}

header .inner .header__menu .item .item__contents .inner>li {
    width: 395px;
    padding: 0 0 20px 20px;
    box-sizing: border-box;
    font-size: 14px;
}

header .inner .header__menu .item .item__contents .inner>li>p {
    padding: 20px 0;
}

header .inner .header__menu .item .item__contents .inner>li>ul>li {
    display: flex;
    padding: 10px 50px 10px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

header .inner .header__menu .item .item__contents .inner>li>ul>li:hover {
    background-color: #f9f9f9;
}

header .inner .header__menu .item .item__contents .inner>li>ul>li:hover >div>p:first-child::after {
    content: ' →';
}

header .inner .header__menu .item .item__contents .inner>li>ul>li>i {
    font-size: 30px;
    margin-right: 15px;
}

header .inner .header__menu .item .item__contents .inner>li>ul>li>div>p:first-child {
    margin-bottom: 5px;
}

header .inner .header__menu .item .item__contents .inner>li>ul>li>div>p:last-child {
    line-height: 20px;
    color: #aeaeae;
}


/* header_button */
header .inner .header__btn {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 36px;
    right: 0;
}

header .inner .header__btn .header__btn__login {
    margin-right: 8px;
    border-radius: 4px;
    padding: 10px;
}

header .inner .header__btn .header__btn__login:hover {
    text-decoration: underline;
}

header .inner .header__btn .header__btn__inquiry {
    background-color: #353A3F;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 10px;
}

header .inner .header__btn .header__btn__inquiry:hover {
    opacity: 0.8;
}